<div class="container-fluid row">

<div class="card-group" style=" width: 20rem; height:20rem;">
    <a href="#">
    <img class="card-img-top" src="cse.jpg" alt="Computer Science">
    <div class="card-body">
      <h3>Computer Science</h3>
      <p class="card-text">Learn more code more.</p>
    </div>
    </a>
</div>

  <div class="card-group" style=" width: 20rem; height:20rem;">
    <a href="#">
    <img class="card-img-top" src="electrical.jpg" alt="Electrical">
    <div class="card-body">
      <h3>Electrical</h3>
      <p class="card-text">Learn electrical in easy way.</p>
    </div>
    </a>
</div>

  <div class="card-group" style=" width: 20rem; height:20rem;">
    <a href="#">
    <img class="card-img-top" src="ece.jpg" alt="Electronics">
    <div class="card-body">
      <h3>Electronics</h3>
      <p class="card-text">Electronics is everywhere.</p>
    </div>
    </a>
  </div>

  <div class="card-group" style=" width: 20rem; height:20rem;">
    <a href="#">
    <img class="card-img-top" src="Mechanical.jpg" alt="Mechanical">
    <div class="card-body">
      <h3>Mechanical</h3>
      <p class="card-text">Power of Machines.</p>
    </div>
    </a>
  </div>

  <div class="card-group" style=" width: 20rem; height:20rem; margin: 2rem;">
    <a href="#">
    <img class="card-img-top" src="Civil.jpg" alt="Civil">
    <div class="card-body">
      <h3>Civil</h3>
      <p class="card-text">Build a better tomorrow.</p>
    </div>
    </a>
  </div>


</div> 