<footer class="page-footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <div class="col-md-3 mx-auto">
        <img src="logo2.png" alt="" width="300" height="80">
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Master Class</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!"> About</a>
            </li>
            <li>
              <a href="#!">Masterclass for bussiness</a>
            </li>
            <li>
              <a href="#!">Career</a>
            </li>
            <li>
              <a href="#!">News</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Legal</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Terms of Services</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
            <li>
              <a href="#!">Accessability Policy</a>
            </li>
            <li>
              <a href="#!">Sitemap</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Connect</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">Blog</a>
              </li>
              <li>
                <a href="#!">Contact Us</a>
              </li>
              <li>
                <a href="#!">Help Center</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://masterclass.com/"> Masterclass.com</a>
    </div>
  </footer>