<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>SMART CLASS</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-color-white fixed-top" style="font-family: sans-serif;">
      <img src="logo.png" alt="" width="300" height="80">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-5" style="font-weight:bold;">
            
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lectures
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="border-style: none;">
                <a class="dropdown-item" href="#">Computer science</a>
                <a class="dropdown-item" href="#">Electrical</a>
                <a class="dropdown-item" href="#">Electronics</a>
                <a class="dropdown-item" href="#">Mechanical</a>
                <a class="dropdown-item" href="#">Civil</a>
              </div>
              <li class="nav-item">
                <a class="nav-link ml-2" href="#">Books</a>
              </li>
              <li class="nav-item ml-2">
                <a class="nav-link" href="#">Notes</a>
              </li>
          </ul>
          <form class="form-inline">
            <button class="btn btn-sm btn-outline-primary  mr-2" type="button">LOGIC</button>
            <button class="btn btn-sm btn-outline-primary  mr-2 " type="button">REGISTER</button>
          </form>
        </div>
      </nav>

</body>
</html>