.nav-item:hover{
  background-color:#00acee;
}
.navbar{
  width: 100%;
  position: absolute;
  top: 0;
}
.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#EDF8FE;
    color:#5E5E5E;
    text-align: center;
}

  .carousel-item{
    height: 700px;
} 
.carousel-item img{
    height: 700px;
}

body {
  margin-top: 100px;
}

.slogan {
  width: 800px;
  height: 500px;
  border: none;
  font-family: sans-serif;
  text-align: left ;
}

.card-group{
  margin: 2.9rem ;
}

.card-img-top{
  width:20rem;
  height:10rem;
}

